[Unit]
After=network.target
Description=Dynomite

[Service]
Type=simple
CapabilityBoundingSet=CAP_NET_BIND_SERVICE CAP_SETGID CAP_SETUID
ExecStart=/usr/local/sbin/dynomite --conf-file=/etc/dynomite/dynomite.yml
ExecStartPre=/usr/local/sbin/dynomite --conf-file=/etc/dynomite/dynomite.yml --test-conf
LimitNOFILE=16384
NoNewPrivileges=true
PrivateDevices=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=full
Restart=on-failure
RestartSec=2
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
StartLimitInterval=0
TimeoutStopSec=5

